* {
  box-sizing: border-box;
}
.header{
  height: 124px;
}
.header-box{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  max-width: 100px;
}
.logo img{
  width: 100%;
}
.body{
  margin: 0;
  padding: 0;
}
.footer{
  height: 156px;
}
.container{
  height: 100%;
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 15px;
}
.footer-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo {}
.footer-nav {
  flex-grow: 1;
}
.footer-social {}