* {
  box-sizing: border-box;
  font-family: Roboto;
  line-height: 31px;
}
.header{
  display: flex;
  align-items: center;
  min-height: 124px;
}
.header-box{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-controls{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.logo{
  max-width: 100px;
}
.logo img{
  width: 100%;
}
.body{
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

main{
  flex-grow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.page-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.btn {
  outline: none;
  display: flex;
  padding: 8px 18px;
  align-items: center;
  gap:4px;
}
.btn-primary{
  border-radius: 2px;
  background-color: #1890FF;
}
.btn-outline{
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background-color: #1890FF;
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px #fff;
}


/* .btn-outline {} */

.footer{
  display: flex;
    align-items: center;
  min-height: 156px;
  padding: 60px 0px;
}

.footer-box {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 36px;
}
.footer-logo {}
.footer-nav {
  flex-grow: 1;
}
.footer-nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
  flex-wrap: wrap;
}
.footer-nav ul li{
  color: #595959;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  
  letter-spacing: 0em;
  text-align: left;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.banner{
  margin: 0 auto;
  margin-bottom: 56px;
  max-width: 95%;
 
}
.banner-item{
  background-color: #FFF188;
  background-image: url(./images/banners/banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  padding: 68px;
  border-radius: 10px;
}
.banner-item-title{
  color: #302C34;
  font-size: 39px;
  font-weight: 700;
  max-width: 50%;
  margin-top: 0;
  margin-bottom: 15px;

}
.banner-item--subTitle{
  font-size: 18px;
  font-weight: 400;
  max-width: 50%;
  margin: 0;
} 



.products-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.products-header--title{
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}
.products-header--search{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    min-width: 306px;
    height: 34px;
    padding: 5px 12px;
}
.products-header--search:focus{
  outline: none;
  border:1px solid #D9D9D9
}
.products-header--search:placeholder{
  color: #BFBFBF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24;
}
.products-wrapper{
  margin-top: 44px;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 30px;
}

.products-card{
  width: calc((100% - 48px)/3);
  box-shadow: 0px 4px 12px 0px #0000000D;
  overflow: hidden;
}

.products-card__image{
  width: 100%;
}
.products-card__image img{
  width: 100%;
}

.products-header--title{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.products-card__description{
  padding: 10px 24px 14px 24px;
  display: flex;
  justify-content: space-between;
}
.products-card__description--title{
  color: #000;
  font-size: 24px;
  font-weight: 700;
  /* line-height: 24px; */
  margin: 0;

}
.products-card__description--bage{
    color:#fff;
    background-color: #262626;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 1px, 8px, 1px, 8px;
    padding: 1px 8px;
}
.products-card__description--row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-card__description--row:not(:last-child){
  margin-bottom: 10px;
}
.products-card__description-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 25px;
  column-gap: 25px;
}
.products-card__description-info--rating{
  color: #FFC107;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
.products-card__description-info--price{
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.products-card__description-info--group{
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  position: relative;
}
.products-card__description-info--group::before{
  content: '';
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  height: 5px;
  height: 5px;
  background-color: #8C8C8C;
  position: absolute;
  left: -14px;
  top: 14px;
}
@media (max-width:991px) {
  .banner-item{
    background-image:none
  }

  .banner-item--title {
    max-width: 100%;
  }

  .banner-item--subTitle { 
    max-width: 100%;
  }
  
  .products-card{
    width: calc((100% - 24px)/2);
  }
}
@media (max-width:768px) {

  .products-card{
    width: 100%;
  }
}